.pictures {
    border: 5px dotted red;
}

.texts {
    display: flex;
    position: relative;
    border: 3px solid blue;
}

.image {
    filter: drop-shadow(20px 20px 10px rgb(95, 89, 89));
}

.first-text {
    font-size: 2vh;
    line-height: 30px;
    font-family: Verdana;
    font-weight: 700;
    text-align: right;
    vertical-align: middle;
}

.second-text {
    background-color: rgb(48, 5, 13);
    color: rgb(192, 203, 212);
    padding: 1rem;
    margin: 1rem;
    white-space: inherit;
    text-decoration: underline;
    text-transform: uppercase;
}

.results {
    display: flex;
}

.contacts {
    width: 80%;
    padding: 0 15vh;
}

.contacts-links {
    display: flex;
    padding: 0 50vh;
}