
#daysChoice, #lessonsChoice, option, button {
    color: black;
}

#wrapper {
    width: 50%;
}
.table-container {
    margin: 0;
    display: grid;
    background-color: rgba(242, 203, 212, 0.5);
}

.table-row, .table-header {
    display: contents;
    background-color: lightblue;
}

.table-row:nth-child(even) .table-item {
    background-color: rgba(0, 100, 100, 0.5);
}

.table-row .table-item, .table-header .header-item {
    margin: 0;
    border: 1px solid black;
}

.table-header .header-item {
    color: black;
}

td {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
}

#choice {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
}

.select {
    background-color: transparent;
}

.table-button {
    border: 1px solid #ccc;
}

.table-row, .table-header {
    display: contents;
    background-color: lightblue;
}

.table-row:nth-child(even) .table-item {
    background-color: rgba(0, 100, 100, 0.5);
}

.table-row .table-item, .table-header .header-item {
    margin: 0;
    border: 1px solid black;
}

.table-header .header-item {
    color: black;
}


#choice {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
}

.select {
    background-color: transparent;
}

.table-button {
    border: 1px solid #ccc;
}